version: '3'
services:
    web:
        build: .
        ports:
            - "5000:5000"
        volumes:
            - .:/code
        environment:
          FLASK_ENV: development
          SQLALCHEMY_DATABASE_URI: sqlite:////tmp/liteAPI.db
